<div class="outer-container">
    <div class="login-container">
        <!-- Contenedor del formulario -->
        <div class="form-container">
            <h2>Inicia sesión</h2>
            <form>
                <!-- Grupo de entrada para el Tipo de documento -->
                <div class="input-group">
                    <select id="documentType" name="documentType" required>
                        <option value="" disabled selected>Seleccione tipo de documento</option>
                        <option value="tarjeta_identidad">Tarjeta de Identidad</option>
                        <option value="cedula_ciudadania">Cédula de Ciudadanía</option>
                        <option value="cedula_extranjeria">Cédula de Extranjería</option>
                        <option value="registro_civil">Registro Civil</option>
                        <option value="pasaporte">Pasaporte</option>
                        <option value="adulto_sin_identificacion">Adulto sin Identificación</option>
                        <option value="menor_sin_identificacion">Menor sin Identificación</option>
                        <option value="numero_unico_identificacion">Número Único de Identificación</option>
                        <option value="certificado_nacido_vivo">Certificado de Nacido Vivo</option>
                        <option value="salvo_conducto">Salvo Conducto</option>
                        <option value="nit">NIT</option>
                        <option value="carnet_diplomatico">Carnet Diplomático</option>
                        <option value="permiso_especial_permanencia">Permiso Especial de Permanencia</option>
                        <option value="residente_especial_paz">Residente Especial para la Paz</option>
                        <option value="permiso_proteccion_temporal">Permiso por Protección Temporal</option>
                        <option value="documento_extranjero">Documento de Extranjero</option>
                    </select>
                </div>
                
                <!-- Grupo de entrada para el Número de documento -->
                <div class="input-group">
                    <input type="text" id="documentNumber" placeholder="Número de documento" name="documentNumber" required />
                </div>
                
                <!-- Grupo de entrada para la Fecha de nacimiento -->
                <div class="input-group">
                    <input type="date" id="birthdate" name="birthdate" required />
                </div>

                <!-- Opciones adicionales como el checkbox de 'Recuerdame' -->
                <div class="extra-options">
                    <label class="rememberMe">
                        <input type="checkbox">
                        <span>Recuérdame</span>
                    </label>
                </div>

                <!-- Botón de envío -->
                <div class="button">
                    <app-button label="Ingresar"></app-button>
                </div>
            </form>
        </div>

        <!-- Contenedor de bienvenida con una imagen -->
        <div class="welcome-container">
            <img src="../../../../../assets/images/image-removebg-preview 1.png" alt="Imagen de Bienvenida">
        </div>
    </div>
</div>
