.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
  }
  
  .logo {
    width: 150px;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-profile img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .welcome-section {
    background-color: #d9d9d95f;
    display: flex;
    border-radius: 15px;
    padding-bottom: 15px;
  }

  .welcome-section .part1{
    width: 50%;
    margin: 50px;
  }
  
  .welcome-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .welcome-section p {
    font-size: 1rem;
    margin-bottom: 20px;
    width: 80%;
  }
  .images {
    position: relative;
    display: flex;
    justify-content: flex-start; 
  }
  
  .images .img1 {
    margin-top: 30px;
    position: absolute; 
    z-index: 2; 
    border-radius: 50%;
    object-fit: cover;
  }
  
  .images .img2 {
    position: relative; 
    margin-left: 170px; 
    padding-top: 60px;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .circle-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Consultas de laboratorio */
  .lab-consultations {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  .illustration img {
    width: 426px;
    margin-left: 85px;
}

  
  .lab-details {
    max-width: 500px;
  }
  
  .lab-details h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .lab-details p {
    font-size: 0.8rem;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #1e3a8a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #374151;
  }
  
  /* Ajustes adicionales para que las imágenes no se vean rotas */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  @keyframes moveImage {
    0% { transform: translateX(0); }
    100% { transform: translateX(100px); } /* Ajusta la distancia según lo necesites */
}

.illustration img {
    animation: moveImage 5s linear infinite alternate; /* Ajusta la duración y el easing según lo necesites */
}