<div class="container">
    <app-header></app-header>

    <div class="welcome-section">
        <!-- Sección de bienvenida -->
        <div class="part1">
            <h1>{{ headingText }}</h1>
            <p>{{ paragraphText }}</p>
        </div>
        
        <div class="images">
            <!-- Imágenes en círculo -->
            <div class="img1">
                <img src="../../../../../assets/images/img1.jpg" alt="Herramientas Médicas" class="circle-image">
            </div>
            <div class="img2">
                <img src="../../../../../assets/images/img2.jpg" alt="Exámenes de Laboratorio" class="circle-image">
            </div>
        </div>
    </div>
    
    <div class="lab-consultations">
        <!-- Sección de consultas de laboratorio -->
        <div class="illustration">
            <img src="../../../../../assets/images/image 4.png" alt="Equipo Médico" class="team-image">
        </div>
        
        <div class="lab-details">
            <h2>Consultas de laboratorios</h2>
            <p>Haz clic en el botón para acceder a la sección donde podrás consultar los detalles de tus órdenes de laboratorio.</p>
            <app-button [routerLink]="['/ordenesLaboratorio']" label="Ir →"></app-button>
        </div>
    </div>
    
</div>
<app-footer>
</app-footer>
