.profile-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px 5px 10px;
    background-color: transparent;
    border: none; 
    border-bottom: 3px solid #011A5D; 
    border-radius: 0; 
    font-size: 14px;
    cursor: pointer;
    gap: 10px;
}

.profile-button img {
    width: 30px; 
    height: 30px;
}

.home {
    margin-left: 2px;
    font-size: 16px; 
}
.profile-button:hover {
    border-bottom: 3px solid #67769e; 
  
}