<div class="container">
    <app-header-profile></app-header-profile>
    <div class="profile-header">
      <div>
        <img class="imgUser" src="../../../../../assets/images/user.png">
      </div>
      <div class="profile-name">Camilo Lopez</div>
    </div>

    <div class="tabs">
      <div class="tab" [routerLink]="['/perfilInformacion']" routerLinkActive="selected">Mi información</div>
      <div class="tab" [routerLink]="['/ordenesLaboratorio']" routerLinkActive="selected">Órdenes de laboratorio</div>
    </div>
</div>
